@import "tailwindcss";

@theme {
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
  --color-aqua: #33c2cc;
  --color-mint: #57db96;
  --color-royal: #5c33cc;
  --color-lavender: #7a57db;
  --color-fuchsia: #ca2f8c;
  --color-orange: #cc6033;
  --color-sand: #d6995c;
  --color-coral: #ea4884;
  --animate-orbit: orbit 50s linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
  --animate-marquee: marquee 50s linear infinite;
  --animate-marquee-vertical: marquee-vertical 50s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950 mx-auto ;
  
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {

  .rootLayoutContainer {
    @apply fixed flex justify-between p-10 items-center bg-black/30 backdrop-blur-3xl  top-0 w-full max-h-20 h-20  z-150 ;

    .links {
      @apply hidden sm:flex gap-10;

    }

    button {
      @apply cursor-pointer;
    }

    img {
      @apply h-5 w-5 transition-all ease-in-out duration-300
    }
  }

  #hero {
    
    .heroContainer {

      @apply flex flex-col items-center w-full;

      h1 {
        @apply font-semibold text-3xl
      }


    }

  }

  .grid-default-color {
    @apply p-6 bg-gradient-to-b from-storm to-indigo rounded-2xl;
  }

}

